<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projectsax.cookbook">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewRecipeList" />
        <activity android:name=".ViewRecipeAdapter" />
        <activity android:name=".SearchRecipe" />
        <activity android:name=".CreateNewRecipe" />
        <activity android:name=".NewIngredient" />
        <activity android:name=".NewInstruction" />
        <activity android:name=".viewSelectedRecipe"></activity>
    </application>

</manifest>